body {
    background-color: rgb(21,32,43);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

h1 {
    font-size: 42px;
    font-weight: bold;
    margin: 0 20px 40px;
}


.header h3 {
    margin-top: 88px;
    font-weight: bold;
}
.header h3 a {
    color: white;
    text-decoration: none;
}
.header h3 a:hover {
    border-bottom: 2px solid #04AA6D;
}

hr {
    filter: opacity(.5);
    margin: 20px 20px;
}

.container {
    width: 960px;
    margin: 40px auto;
    background-color: #1d2a35;
    border-radius: 20px;
    box-sizing: border-box;
}

.header {
    padding: 20px 20px 0 20px;
}
.image {
    background-image: url(../logo/logoJS.png);
    width:150px; height:150px;
    background-size: cover;
    border-radius: 15px;
    float: left;
    margin-right:10px;
}

.main { 
    width: 920px;
    margin: 20px auto;
    box-sizing: border-box;
}
.main a {
    font-size: 16px;
    display: inline-block;
    width: 100%;
    color: white;
    text-decoration: none;
    padding: 7px 0 7px 10px;
    margin: 0 0 10px 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #666666;
    transition: .3s;
}
.main a:hover {
    filter: opacity(.8);
}




.footer {
    background-color: #38444d;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.footer p {
    font-size: 16px;
    text-align: center;
}


